@using PanelViewModels.OnlineExamsViewModels
@using Common.Enums;
@model PanelViewModels.OnlineExamsViewModels.OnlineExamMultipleChoiceQuestionsViewModel
@{
    Layout = "_QuestionsDesignerLayout";
    var dtoModel = (OnlineExamMultipleChoiceQuestionsViewModel)ViewBag.Data;
    ViewBag.Title = "ویرایش سوال تستی";
    var Id = dtoModel.Id;
    var Url = "/OnlineExams/OnlineExamMultipleChoiceQuestions/Update";
}
<style type="text/css">
    div {
        height: auto !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('input[value=#]'.replace(/#/g, '@Html.Raw(dtoModel.CorrectOption)')).prop('checked', true);

    @(Html.Raw((int)dtoModel.IsTextQuestionContext))  == 1 ? $('#isTextQuestionContext').prop('checked', true) : $('#isTextQuestionContext').prop('checked', false);
    @(Html.Raw((int)dtoModel.IsTextOption1))  == 1 ? $('#isTextOption1').prop('checked', true) : $('#isTextOption1').prop('checked', false);
    @(Html.Raw((int)dtoModel.IsTextOption2))  == 1 ? $('#isTextOption2').prop('checked', true) : $('#isTextOption2').prop('checked', false);
    @(Html.Raw((int)dtoModel.IsTextOption3))  == 1 ? $('#isTextOption3').prop('checked', true) : $('#isTextOption3').prop('checked', false);
    @(Html.Raw((int)dtoModel.IsTextOption4))  == 1 ? $('#isTextOption4').prop('checked', true) : $('#isTextOption4').prop('checked', false);


        $('#GroupSelectBtn').click(function () {
            openLessonTopicSelectorModal('', 'LessonTopicId', 'LessonTopicName');
        });
        //************************************************************************
        $('body').on('click', '.cancelBtn', function () {
            window.location.href = "/OnlineExams/OnlineExamMultipleChoiceQuestions/ReturnToOnlineExam/" + @Html.Raw(dtoModel.Id);
        });
        //************************************************************************
        $('#multipleChoiceQuestionsForm').submit(function () {

            if ($(this).valid()) {
                toastr.remove();
                if (!$('input[name=questionchoice]:checked').val()) {
                    toastr.error("گزینه صحیح را انتخاب کنید.");
                    return false;
                }
                var data = {
                    Id: @Id,
                    QuestionId: 0,
                    IsTextQuestionContext: $('#isTextQuestionContext').is(':checked') ? 1 : 0,
                    IsTextOption1: $('#isTextOption1').is(':checked') ? 1 : 0,
                    IsTextOption2: $('#isTextOption2').is(':checked') ? 1 : 0,
                    IsTextOption3: $('#isTextOption3').is(':checked') ? 1 : 0,
                    IsTextOption4: $('#isTextOption4').is(':checked') ? 1 : 0, 
                    
                    DescriptiveAnswer_CkFormat: CKEDITOR.instances.DescriptiveAnswer_CkFormat.getData(),
                    QuestionContext_CkFormat: CKEDITOR.instances.QuestionContext_CkFormat.getData(),
                    Option1_CkFormat: CKEDITOR.instances.Option1_CkFormat.getData(),
                    Option2_CkFormat: CKEDITOR.instances.Option2_CkFormat.getData(),
                    Option3_CkFormat: CKEDITOR.instances.Option3_CkFormat.getData(),
                    Option4_CkFormat: CKEDITOR.instances.Option4_CkFormat.getData(),
                    
                    DescriptiveAnswer: $('#cke_DescriptiveAnswer_CkFormat').find('iframe.cke_wysiwyg_frame').contents().find("body").html(),
                    QuestionContext: $('#cke_QuestionContext_CkFormat').find('iframe.cke_wysiwyg_frame').contents().find("body").html(),
                    Option1: $('#cke_Option1_CkFormat').find('iframe.cke_wysiwyg_frame').contents().find("body").html(),
                    Option2: $('#cke_Option2_CkFormat').find('iframe.cke_wysiwyg_frame').contents().find("body").html(),
                    Option3: $('#cke_Option3_CkFormat').find('iframe.cke_wysiwyg_frame').contents().find("body").html(),
                    Option4: $('#cke_Option4_CkFormat').find('iframe.cke_wysiwyg_frame').contents().find("body").html(),
                    CorrectOption: $('input[name=questionchoice]:checked').val()
                };
                var url = '@Url';
                DataTransfer(url, ko.toJSON(data), '#resultLoader', function (e) {
                    toastr.remove();
                    if (!e.IsSuccess) {
                        toastr.error(e.Message);
                    } else {
                        toastr.success(e.Message);
                        //setTimeout(function () { window.location.href = "/OnlineExams/MultipleChoiceQuestions/Index/" + $('#LessonId').val() }, 1000);
                    }
                }, function (e) {
                    toastr.error('خطا در ارتباط با سرور');
                });
            }
            return false;
        });


        $('body').on('click', '.returnToQuestionBtn', function () {
            $('.cancelBtn').click();
        });
    });
</script>


<script id="descriptiveAnswerHolder" type="text/html">
    @Html.Raw(dtoModel.DescriptiveAnswer_CkFormat)
</script>
<script id="questionContextHolder" type="text/html">
    @Html.Raw(dtoModel.QuestionContext_CkFormat)
</script>
<script id="option1ContextHolder" type="text/html">
    @Html.Raw(dtoModel.Option1_CkFormat)
</script>
<script id="option2ContextHolder" type="text/html">
    @Html.Raw(dtoModel.Option2_CkFormat)
</script>
<script id="option3ContextHolder" type="text/html">
    @Html.Raw(dtoModel.Option3_CkFormat)
</script>
<script id="option4ContextHolder" type="text/html">
    @Html.Raw(dtoModel.Option4_CkFormat)
</script>


<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption"> اطلاعات سوال تستی</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body bordered-top bordered-gray" style="height: auto;">
                <form id="multipleChoiceQuestionsForm" role="form">

                    <div class="row"> 

                        <div class="col-md-12 hidden-xs hidden-sm">
                            <div class="returnToQuestionBtn form-group">
                                <a id="returnToQuestionBtn" class="btn btn-default"> <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> بازگشت به سوالات آزمون </a>
                            </div>
                        </div>
                    </div>
                 
                    <div class="row">
                        <hr class="col-12" />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>پاسخ تشریحی</label>
                                <textarea asp-for="DescriptiveAnswer_CkFormat" rows="10" cols="80"> </textarea>
                                <span asp-validation-for="DescriptiveAnswer_CkFormat" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>متن سوال</label>
                                <textarea asp-for="QuestionContext_CkFormat" rows="10" cols="80"> </textarea>
                                <span asp-validation-for="QuestionContext_CkFormat" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="col-12" />
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input name="questionchoice" type="radio" value="1" class="colored-success">
                                            <span class="text"> گزینه یک</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input id="isTextOption1" type="checkbox" class="colored-success">
                                            <span class="text">محتوای گزینه متنی است؟</span>
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="widget">
                                <textarea asp-for="Option1_CkFormat" rows="10" cols="80"> </textarea>
                                <span asp-validation-for="Option1_CkFormat" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input name="questionchoice" type="radio" value="2" class="colored-success">
                                            <span class="text"> گزینه دو</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input id="isTextOption2" type="checkbox" class="colored-success">
                                            <span class="text">محتوای گزینه متنی است؟</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="widget">
                                <textarea asp-for="Option2_CkFormat" rows="10" cols="80"> </textarea>
                                <span asp-validation-for="Option2_CkFormat" class="danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input name="questionchoice" type="radio" value="3" class="colored-success">
                                            <span class="text"> گزینه سه</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input id="isTextOption3" type="checkbox" class="colored-success">
                                            <span class="text">محتوای گزینه متنی است؟</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="widget">
                                <textarea asp-for="Option3_CkFormat" rows="10" cols="80"> </textarea>
                                <span asp-validation-for="Option3_CkFormat" class="danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input name="questionchoice" type="radio" value="4" class="colored-success">
                                            <span class="text"> گزینه چهار</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                            <input id="isTextOption4" type="checkbox" class="colored-success">
                                            <span class="text">محتوای گزینه متنی است؟</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="widget">
                                <textarea asp-for="Option4_CkFormat" rows="10" cols="80"> </textarea>
                                <span asp-validation-for="Option4_CkFormat" class="danger"></span>
                            </div>
                        </div>
                    </div>

                    <script>
                        var roxyFileman = '/FileManager/Index';
                        var config = {
                            filebrowserBrowseUrl: roxyFileman,
                            on: {
                                instanceReady: function (ev) {
                                    document.getElementById(ev.editor.id + '_top').style.display = 'none';
                                    ev.editor.on('focus', function (e) {
                                        document.getElementById(ev.editor.id + '_top').style.display = 'block';
                                    });
                                    ev.editor.on('blur', function (e) {
                                        document.getElementById(ev.editor.id + '_top').style.display = 'none';
                                    });
                                }
                            }
                        };
                        CKEDITOR.replace('QuestionContext_CkFormat', config);
                        CKEDITOR.replace('DescriptiveAnswer_CkFormat', config);
                        CKEDITOR.replace('Option1_CkFormat', config);
                        CKEDITOR.replace('Option2_CkFormat', config);
                        CKEDITOR.replace('Option3_CkFormat', config);
                        CKEDITOR.replace('Option4_CkFormat', config);



                        CKEDITOR.instances.DescriptiveAnswer_CkFormat.setData($('#descriptiveAnswerHolder').html());
                        CKEDITOR.instances.QuestionContext_CkFormat.setData($('#questionContextHolder').html());
                        CKEDITOR.instances.Option1_CkFormat.setData($('#option1ContextHolder').html());
                        CKEDITOR.instances.Option2_CkFormat.setData($('#option2ContextHolder').html());
                        CKEDITOR.instances.Option3_CkFormat.setData($('#option3ContextHolder').html());
                        CKEDITOR.instances.Option4_CkFormat.setData($('#option4ContextHolder').html());


                    </script>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-sm cancelBtn" data-dismiss="modal">انصراف</button>
                                <button type="submit" class="btn btn-info btn-sm">ثبت اطلاعات</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
