
@using WebViewModels.TrainingsViewModels
@using Common.Extentions
@using System;
@{
    var Courses = (CoursesViewModel)ViewBag.Courses;
}
@functions{
    string EncriptRefId(int onlineExamId, int UserId)
    {
        return (onlineExamId.ToString() + "-" + UserId.ToString()).ToString().EncriptWithDESAlgoritm();
    }
}
<style type="text/css">
    .btn-dore-lg {
        float: unset;
    }

        .btn-dore-lg .cover {
            width: 150px;
        }

    td, th {
        white-space: nowrap;
    }
    tr td {
        text-align:center;
    }

    .singleCourse .dis-tbl-row .price .discount-price span::after {
        top: 11px !important;
    }
</style>



@if (Courses.CourseMeetings.Where(c => c.IsAbleToViewOrBuy).Count() > 0)
{


    <div class="cl-md-12 m-t-50">
        <div class="table-responsive">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="center">#</th>
                        <th class="right">عنوان</th>
                        <th class="right">مدرس</th>
                        <th class="right">قیمت</th>
                        <th class="right">تاریخ شروع</th>
                        <th class="right">ساعت شروع</th>
                        <th class="right">تاریخ پایان</th>
                        <th class="right">ساعت پایان</th>
                        <th class="right">مدت زمان آزمون</th>
                        <th class="right">تعدا سوالات</th>
                        <th class="right">عملیات</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var courseMeeting in Courses.CourseMeetings.Where(c => c.IsAbleToViewOrBuy))
                    {
                        @if (!(User.Identity.IsAuthenticated && courseMeeting.IsAvailableForSpecificFields && !courseMeeting.OnlineExamFieldIds.Contains(Courses.StudentFieldId)))
                        {
                    <tr>
                        <th class="center">
                                    <img src="/assets/img/elemans/tik 1@2x.png" class="width-px-20" alt="آزمون @courseMeeting.Name اپیزرو">
                        </th>
                        <td>@courseMeeting.Name</td>
                        <td>


                            @if (Courses.IsMultiTeacher)
                            {
                                @if (courseMeeting.CourseDedicatedTeacher == null)
                                {
                                    <span class="showTeachersBtn">چند استادی</span>
                                }
                                else
                                {
                                    <a href="/Contents/TeacherIntroductions?teacherId=@courseMeeting.CourseDedicatedTeacher.TeacherUserId">@courseMeeting.CourseDedicatedTeacher.TeacherFullName</a>
                                }
                            }
                            else
                            {
                                <a href="/Contents/TeacherIntroductions?teacherId=@Courses.TeacherUserId"><span>@courseMeeting.TeacherFullName</span></a>
                            }
                        </td>
                        <td class="dis-tbl-row" style="position:relative">
                            @if (courseMeeting.IsPurchasable)
                            {

                                @if (courseMeeting.DiscountPrice < courseMeeting.Price)
                                {
                                    <div class="center price">
                                                <div class="discount-price" style="top: 0px">
                                            <span>
                                                @(string.Format("{0:N0}", courseMeeting.Price))  تومان
                                            </span>
                                        </div>
                                        <div>
                                            <span>
                                                @(string.Format("{0:N0}", courseMeeting.DiscountPrice))  تومان
                                            </span>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="center">
                                        <span>
                                            @( courseMeeting.Price == 0 ? "رایگان" : string.Format("{0:N0} تومان", courseMeeting.Price))
                                        </span>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="center">
                                    <span>
                                        ------
                                    </span>
                                </div>
                            }
                        </td>
                        <td>@courseMeeting.StartDateTime.Split("-")[0]</td>
                        <td>@courseMeeting.StartDateTime.Split("-")[1]</td>
                        <td>@courseMeeting.EndDateTime.Split("-")[0]</td>
                        <td>@courseMeeting.EndDateTime.Split("-")[1]</td>
                        <td>@courseMeeting.CourseDuration دقیقه</td>
                        <td>@courseMeeting.NumberQuestions  </td>
                        <td style="width : 310px;" class="btn-dore-lg">
                            @if (!Courses.StudentAccessToCourse.IsAccessToEntireCourse && !Courses.StudentAccessToCourse.AvalibleCourseMeetingIds.Any(c => c == courseMeeting.Id))
                            {
                                if (courseMeeting.IsPurchasable)
                                {
                                    <a class="cart-btn" data-academyProductTypeId="2" data-academyProductId="@courseMeeting.Id">
                                        <div class="cover">
                                                    <img src="/assets/img/elemans/Group 1@2x.png" alt=" خرید آزمون @courseMeeting.Name">
                                            خرید آزمون
                                        </div>
                                    </a>

                                }
                            }
                            else
                            {
                                <a class="enterExamBtn" data-redirectUrl="@(AppConfigProvider.GetOnlineExamUrl() + "?RefId=" + EncriptRefId(courseMeeting.OnlineExamId.Value,ViewBag.UserId))" data-onlineExamId="@courseMeeting.OnlineExamId">
                                    <div class="cover center btn-back-color-blue">
                                        <i style="vertical-align:middle" class="fa fa-check-circle  download"></i>
                                        <span class="date">ورود به آزمون</span>
                                    </div>
                                </a>
                                <a class="showOnlineExamResultBtn" data-onlineExamId="@courseMeeting.OnlineExamId">
                                    <div class="cover center bg-color-red">
                                        <i class="fa fa-eye download"></i>
                                        <span class="date">مشاهده نتایج</span>
                                    </div>
                                </a>
                                @if (courseMeeting.IsShowQuestionAnswer)
                                {
                                    @if (!string.IsNullOrEmpty(courseMeeting.AnalysisVideoLink))
                                    {
                                        <a href="/OnlineExams/OnlineExamAnalysisVideo?OnlineExamId=@courseMeeting.OnlineExamId">
                                            <div class="cover center btn-back-color-green">
                                                <i class="fa fa-eye download"></i>
                                                <span class="date">فیلم تحلیل آزمون</span>
                                            </div>
                                        </a>
                                    }

                                    <a href="/OnlineExams/OnlineExamQuestions?OnlineExamId=@courseMeeting.OnlineExamId">
                                        <div class="r-btn center bg-color-red">
                                            <i class="fa fa-eye download"></i>
                                            <span class="date">مشاهده پاسخنامه</span>
                                        </div>
                                    </a>
                                }



                            }



                        </td>
                    </tr>
                        }



                    }



                </tbody>
            </table>

        </div>
    </div>


}
<div style="clear:both;"></div>
@if (Courses.CourseMeetings.Where(c => !c.IsAbleToViewOrBuy).Count() > 0)
{

    <div class="split-c">
        <hr class="hr">
        <span class="pad-line-s split-liner" style=" background-color: #ee3e7c;">
            @(Courses.CourseCategoryType == Common.Enums.CourseCategoryType.Training ? "جلسات برگزار نشده " : "آزمون های برگزار نشده ")
        </span>
    </div>

    <div class="cl-md-12">
        <div class="table-responsive">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="center">#</th>
                        <th class="right">عنوان</th>
                        <th class="right">مدرس</th>
                        <th class="right">قیمت</th>
                        <th class="right">تاریخ شروع</th>
                        <th class="right">ساعت شروع</th>
                        <th class="right">تاریخ پایان</th>
                        <th class="right">ساعت پایان</th>
                        <th class="right">مدت زمان آزمون</th>
                        <th class="right">تعدا سوالات</th>
                        <th class="right">عملیات</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var courseMeeting in Courses.CourseMeetings.Where(c => !c.IsAbleToViewOrBuy))
                    {


                        @if (!(User.Identity.IsAuthenticated && courseMeeting.IsAvailableForSpecificFields && !courseMeeting.OnlineExamFieldIds.Contains(Courses.StudentFieldId)))
                        {
                    <tr>
                        <th class="center">
                                    <img src="/assets/img/elemans/tik 1@2x.png" class="width-px-20" alt="آزمون آنلاین @courseMeeting.Name">
                        </th>
                        <td>@courseMeeting.Name</td>
                        <td>@courseMeeting.TeacherFullName</td>

                        <td class="dis-tbl-row">
                            @if (courseMeeting.IsPurchasable)
                            {

                                @if (courseMeeting.DiscountPrice < courseMeeting.Price)
                                {
                                    <div class="center price">
                                        <div class="discount-price">
                                            <span>
                                                @(string.Format("{0:N0}", courseMeeting.Price))  تومان
                                            </span>
                                        </div>
                                        <div>
                                            <span>
                                                @(string.Format("{0:N0}", courseMeeting.DiscountPrice))  تومان
                                            </span>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="center">
                                        <span>
                                            @( courseMeeting.Price == 0 ? "رایگان" : string.Format("{0:N0} تومان", courseMeeting.Price))
                                        </span>

                                    </div>
                                }
                            }
                            else
                            {
                                <div class="center">
                                    <span>
                                        ------
                                    </span>
                                </div>
                            }
                        </td>
                        <td>@courseMeeting.StartDateTime.Split("-")[0]</td>
                        <td>@courseMeeting.StartDateTime.Split("-")[1]</td>
                        <td>@courseMeeting.EndDateTime.Split("-")[0]</td>
                        <td>@courseMeeting.EndDateTime.Split("-")[1]</td>
                        <td>@courseMeeting.CourseDuration دقیقه</td>
                        <td>@courseMeeting.NumberQuestions  </td>
                        <td style="width : 300px;" class="btn-dore-lg">
                            @if (!Courses.StudentAccessToCourse.IsAccessToEntireCourse && !Courses.StudentAccessToCourse.AvalibleCourseMeetingIds.Any(c => c == courseMeeting.Id))
                            {
                                if (courseMeeting.IsPurchasable)
                                {
                                    <a class="cart-btn" data-academyProductTypeId="2" data-academyProductId="@courseMeeting.Id">
                                        <div class="cover">
                                                    <img src="/assets/img/elemans/Group 1@2x.png" alt="خرید آزمون @courseMeeting.Name">
                                            خرید آزمون
                                        </div>
                                    </a>

                                }
                            }
                            else
                            {
                                <a class="enterExamBtn" data-redirectUrl="@(AppConfigProvider.GetOnlineExamUrl() + "?RefId=" + EncriptRefId(courseMeeting.OnlineExamId.Value,ViewBag.UserId))" data-onlineExamId="@courseMeeting.OnlineExamId">
                                    <div class="cover center btn-back-color-blue">
                                        <i style="vertical-align:middle" class="fa fa-check-circle  download"></i>
                                        <span class="date">ورود به آزمون</span>
                                    </div>
                                </a>
                                <a onclick="StudentOnlineExamResults('@courseMeeting.OnlineExamId')">
                                    <div class="cover center bg-color-red">
                                        <i class="fa fa-eye download"></i>
                                        <span class="date">مشاهده نتایج</span>
                                    </div>
                                </a>
                                @if (courseMeeting.IsShowQuestionAnswer)
                                {
                                    <a href="/OnlineExams/OnlineExamAnalysisVideo?OnlineExamId=@courseMeeting.OnlineExamId">
                                        <div class="cover center btn-back-color-green">
                                            <i class="fa fa-eye download"></i>
                                            <span class="date">فیلم تحلیل آزمون</span>
                                        </div>
                                    </a><a href="/OnlineExams/OnlineExamQuestions?OnlineExamId=@courseMeeting.OnlineExamId">
                                        <div class="r-btn center bg-color-red">
                                            <i class="fa fa-eye download"></i>
                                            <span class="date">مشاهده پاسخنامه</span>
                                        </div>
                                    </a>
                                }
                            }

                        </td>
                    </tr>
                        }


                    }
                </tbody>
            </table>

        </div>
    </div>
}

